@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; 
  
  --background: var(--bg-color);
  --foreground: var(--text-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #171717;
}

.dark {
  --bg-color: #0a0a0a;
  --text-color: #ededed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s; 
}